:root {
  --white-color: #fff;
  --black-color: #000000;
  --gray-color: #d9d9d9;
  --transparent: transparent;
  --bg-color: #fff5f6;
  --bg-color2: #fafafa;
  --bg-color3: #e1e1e1;
  --bg-hover: #ecebeb;
  --brand-color: #d41443;
  --text-color: #907e82;
  --primary1-color-pink: #ffb8ca;
  --secondary-color-pink: #ffa5ba;
  --secondary-color-pink-dark: #e17992;
  --primary2-color: #f0d1a5;
  --primary3-color: #c2e297;

  --main-font: "DM Sans", sans-serif;
  --second-font: "Titan One", sans-serif;
  --max-width: 100%;
}
